/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ======================
  CLEARFIX
  ======================
*/

.group:before, .group:after{
  content: "";
  display:table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ======================
  CONTAINER
  ======================
*/

.container {
  background-color: #3a5795;
  height: 82px;
  min-width: 980px;
}

.menubar {
  margin: 0 auto;
  padding: 14px 0;
  width: 980px;
}

/*
  ======================
  LOGO
  ======================
*/

.logo {
  display: inline-block;
}
.logo img {
  height: 50px;
  width: 190px;
}

/*
  ======================
  LOGIN
  ======================
*/
.login {
  float:right;
}
table {
  display:table;
  font-size: 11px;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

th, td {
  color: #ddd;
  padding: 0 6px 6px 6px;
  text-align: left;
}

table a {
  color: #ddd;
  text-decoration: none;
}

td input {
  margin-left: 0;
}

.offset {
  color: #9daccb;
}
.offset a {
  color: #9daccb;
}

.btn input {    
  background-color: #5b74a8;
  border: none;
  color: #fff;
  display: inline-block;  font-weight: 700;
  height: 20px;
  padding: 2px 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px  0 rgba(255,255,255,.2);  
  text-align: center;  
  width:50px;

}

/*
  ======================
  MAIN CONTENT
  ======================
*/

.main-container {
  background-color: #EDF0F5;
}

.information{
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
  margin: 0 auto;
}

/*
  ======================
  COLUMN 1 CONTENT
  ======================
*/

.column-1 {
  display: inline-block;
  width:565px;
  vertical-align: top;
  margin-right: 15.999px;
}

.column-1 h2{
  padding: 42px 0 24px;
  font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.front-description {
  margin-top: 20px;
  padding-bottom: 10px;
}
.front-description img {
  margin-right: 10px;
}
.allows {
  display: inline-block;
  line-height: 22px;
}

.icon {
  display:inline-block;
  vertical-align: middle;
  text-align: center;
}
.icon-news{
  margin-left: 5px;
}
.icon-share{
  margin-left: 7px;
}
.allows div {
  line-height: 22px;
}
.description-1 {
  color: #333;
  font-family: "Freight Sans Bold", "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 17px;
  font-weight: 700;
  }

.description-2 {
  color: #666;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  margin-left: 10px;
}


/*
  ======================
  COLUMN 2 CONTENT
  ======================
*/

.column-2 {
  display: inline-block;
  float:right;
  font-family: 'Freight Sans', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
  width: 399px;
}

.column-2 h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 5px;
}

.description-3 {
  color: #333;
  font-size: 19px;
  line-height: 126%;
}

/*
  ======================
  FORM
  ======================
*/

.formbox {
  display: inline-block;
  float:left;
  width: 399px;
}

.name{
  display: inline-block;
}



